<div class="padding">
    <h3>Education</h3>
    <h5>Computer Technician</h5>
    <small class="secondary-text">2015 - 2018, Colegio Nacional de Educación Profesional Técnica</small>
    <p>During my studies, I acquired skills in several programming languages and technologies, contributing to my
        software development expertise.</p>
    <p>I'm proficient in C/C++ for system-level applications, PHP/JavaScript for web development, SQL for database
        management, Java (Android Studio) for mobile apps, and Angular for interactive web apps.</p>
    <p>This education greatly influenced my strong skillset, essential for my career.</p>

</div>