<div class="padding">
    <h3 class="">Work Experience</h3>
    <h5>Full Stack Software Developer</h5>
    <small class="secondary-text">February 2023 - Present, Reece</small>
    <p>Development and continuous enhancement of mobile applications, websites, backends, and
        contributing to automation testing within a dynamic Scrum team.</p>
    <p>Utilizing a diverse tech stack, including React Native, React, Spring, GraphQL, PostgreSQL, Appium,
        Python,
        Webdriver.io, and more.</p>
    <br>
    <h5>Full Stack Software Developer</h5>
    <small class="secondary-text">2018 - February 2023, Celucenter</small>
    <p>Led the development and ongoing maintenance of multiple websites, mobile applications, desktop
        applications, and an ERP system.</p>
    <p>Leveraged an extensive array of technologies, encompassing Angular, JavaScript, Java, Python, SQL,
        Node.js,
        Ionic, Laravel, PHP, AWS, and Git.</p>

</div>