<div class="padding">
    <h3>Skills</h3>

    <div class="row text-white">
        <div class="col-lg-6">
            <ul>
                <li>Problem-solving</li>
                <li>Algorithm design</li>
                <li>Software development</li>
                <li>Mobile app development</li>
                <li>Web development</li>
                <li>Database management</li>
                <li>Test automation</li>
                <li>Scrum methodology</li>
                <li>Continuous integration/continuous deployment (CI/CD)</li>
                <li>Version control (Git)</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li>Project management</li>
                <li>Team collaboration</li>
                <li>Teaching/training</li>
                <li>Adaptability</li>
                <li>Quick learner</li>
                <li>Open-source enthusiast</li>
            </ul>
        </div>
    </div>
</div>