<div class="padding">
    <h4>Principal Known Technologies</h4>
    <br>
    <div class="row align-items">
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/javascript.png" class="main-technologie-icon" alt="JavaScript">
            <p class="secondary-text">5 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/angular.png" class="main-technologie-icon" alt="Angular">
            <p class="secondary-text">4 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/ionic.png" class="main-technologie-icon" alt="Ionic">
            <p class="secondary-text">4 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/react.png" class="main-technologie-icon" alt="React">
            <p class="secondary-text">3 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/nodejs.png" class="main-technologie-icon" alt="Node.js">
            <p class="secondary-text">2 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/spring-boot-logo.png" class="main-technologie-icon"
                alt="Spring Boot">
            <p class="secondary-text">2 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/androidstudio.png" class="main-technologie-icon"
                alt="Android Studio">
            <p class="secondary-text">2 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/java.png" class="main-technologie-icon" alt="Java">
            <p class="secondary-text">4 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/laravel.png" class="main-technologie-icon" alt="Laravel">
            <p class="secondary-text">4 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/php.png" class="main-technologie-icon" alt="PHP">
            <p class="secondary-text">5 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/mysql.png" class="main-technologie-icon" alt="MySQL">
            <p class="secondary-text">5 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/postgresql.png" class="main-technologie-icon" alt="PostgreSQL">
            <p class="secondary-text">3 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/python.png" class="main-technologie-icon" alt="Python">
            <p class="secondary-text">5 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/aws.png" class="main-technologie-icon" alt="Python">
            <p class="secondary-text">3 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/linux.png" class="main-technologie-icon" alt="Python">
            <p class="secondary-text">3 Years</p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 text-center">
            <img src="../assets/technologies-icons/github-actions.png" class="main-technologie-icon" alt="Python">
            <p class="secondary-text">3 Years</p>
        </div>
    </div>
</div>