<div class="padding">
    <h3>More about me</h3>
    <p>Knowledge using Linux distributions with a personal preference for open-source solutions.</p>
    <p>I enjoy sharing knowledge informally, teaching Frontend and Backend development with technologies like PHP,
        Node.js, Angular, Laravel, Ionic, and more.</p>
    <p>Highly adaptable and open to new challenges, I have a genuine passion for software development, allowing me to
        quickly grasp and excel in any technology or concept within the field.</p>
</div>