<div class="navbar-replacer"></div>
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-center" href="#">
      <img src="../assets/self-pictures/me.png" class="self-picture-navbar" alt="..."> Anthony Gabriel Torres -
      Presentation {{ environments.version }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

    </div> -->
  </div>
</nav>
<router-outlet></router-outlet>

<div class="container">
  <footer class="row border-top text-white">
    <div class="col-md-4 col-padding">
      <h5>Contact</h5>
      <ul class="nav flex-column">

        <li class="nav-item mb-2">EMAIL: <span class="secondary-text">antogua21@gmail.com</span></li>
        <li class="nav-item mb-2">TELEPHONE: <span class="secondary-text">(+52) 341-438-5679</span></li>
        <li class="nav-item mb-2">GITHUB: <a target="_blank" class="secondary-text"
            href="https://www.github.com/AnthonyGTH">www.github.com/AnthonyGTH</a></li>
        <li class="nav-item mb-2">LINKEDIN: <a target="_blank" class="secondary-text"
            href="https://www.linkedin.com/in/anthonygth">www.linkedin.com/in/anthonygth</a></li>
      </ul>
    </div>
    <!-- <div class="col-md-4 col-padding">
      <h5>Sections</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a routerLink="/home" class="nav-link p-0 secondary-text">Home</a></li>
        <li class="nav-item mb-2"><a routerLink="/work-experience" class="nav-link p-0 secondary-text">Work experience</a></li>
        <li class="nav-item mb-2"><a routerLink="/studies" class="nav-link p-0 secondary-text">Studies</a></li>
        <li class="nav-item mb-2"><a routerLink="/personal-information" class="nav-link p-0 secondary-text">Personal information</a></li>
        <li class="nav-item mb-2"><a routerLink="/interesting-things" class="nav-link p-0 secondary-text">Interesting things</a></li>
      </ul>
    </div> -->
    <div class="col-md-4 col-padding">
      <h5>Usernames</h5>
      <div class="mb-2">
        GITHUB and XBOX: <span class="secondary-text">AnthonyGTH</span><br>
      </div>
      <div class="mb-2">
        WEBSITE: <span class="secondary-text">AnthonyGT</span><br>
      </div>
      <div class="mb-2">
        ROCKSTAR: <span class="secondary-text">-TONYGTH-</span><br>
      </div>
      <div class="mb-2">
        GITHUB2: <span class="secondary-text">TonyGTH</span><br>
      </div>
    </div>
    <div class="col-md-4 col-padding">
      <h5>Versions</h5>
      <div class="mb-2">
        Current Web-site: <span class="secondary-text">{{environments.version}}</span><br>
      </div>
      <div class="mb-2">
        Angular: <span class="secondary-text">{{environments.angularCli}}</span><br>
      </div>
      <div class="mb-2">
        Typescript: <span class="secondary-text">{{environments.typescript}}</span><br>
      </div>
    </div>
  </footer>
</div>