<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 text-right">

    </div>
    <div class="col-sm-10 header-presentation">


      <h2 class="typewriter">{{workExperienceTime.years}} years, {{workExperienceTime.months}} months and {{workExperienceTime.days}} days</h2>
      <h1>of Working experience</h1>
      <br>

    </div>
    <div class="col-sm-1 text-left">
    </div>
  </div>
  <br>

  <p class="text-center"><b>Computer scientist</b> since 2018, im passionate about solving problems and creating interesting <b>algorithms</b>. <br> <b>Happy</b> to be in a place where I can use my skills to propose and execute <b>dynamic</b> and <b>effective software
      solutions</b>.
  </p>

  <br>

  <br>
  <div class="card card-body card-presentation">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="text-center">
          <h3>Full stack software developer</h3>
          <small>2018 - Present, Celucenter</small>
          <hr>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/laravel.png" class="project-technologie-icon" alt="...">
              <img src="../assets/technologies-icons/php.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              https://mr.celucenter.com/
              made in 2018 and a debut for me in this company, it’s built in the framework Laravel (Based in PHP) whit
              Bootstrap 4, JavaScript and a Database in MySQL. This website is used to:
              ▪ Manage portability’s from one telephone service to another and other procedures of the style.
              ▪ Monitor employee attendance.
              ▪ Manage payment reports.
              ▪ Fill out and execute invoices from an ERP.
            </div>
            <div class="col-md-1">
              <img src="../assets/technologies-icons/javascript.png" class="project-technologie-icon" alt="...">
              <img src="../assets/technologies-icons/mysql.png" class="project-technologie-icon" alt="...">
            </div>
          </div>


          <br>
          <br>
          <div class="row">
            <div class="col-md-1">

              <img src="../assets/technologies-icons/php.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              o Desktop App to monitor employee attendance
              Manufactured in 2019, it is built in Java with the digital persona plugin. The purpose is to identify the
              fingerprints of employees to verify attendance on an individual way.
              https://drive.google.com/file/d/11PjWrWxexim7l47L-fChOaIBSS6OXbAM/view?usp=share_link
            </div>
            <div class="col-md-1">
              <img src="../assets/technologies-icons/java.png" class="project-technologie-icon" alt="...">
            </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/php.png" class="project-technologie-icon" alt="...">
              <img src="../assets/technologies-icons/mysql.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              o ERP STX
              My work with this ERP started in 2019. The ERP is based on PHP with JavaScript, CSS and a MySQL
              database. What I do is add, correct and optimize different things like:
              ▪ Invoice execution.
              ▪ Function for creation and admin of labels for shipments.
              ▪ Tools to make massive sells and buys.
              ▪ Functions to make and manage sell payments.
              ▪ Change database from MySQL to PostgreSQL (easy to say, not to do).
              http://desdemona.klayfactory.com/personal/celucenter/index.php?ACTION=MAIN.LOGIN
            </div>
            <div class="col-md-1">
              <img src="../assets/technologies-icons/javascript.png" class="project-technologie-icon" alt="...">
              <img src="../assets/technologies-icons/postgresql.png" class="project-technologie-icon" alt="...">
            </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/python.png" class="project-technologie-icon" alt="...">
              <img src="../assets/technologies-icons/mysql.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              o People Counter
              This was a project that started in 2019 with the idea of counting the number of people entering and
              leaving a place. It was being developed in Python with OpenCV in a Raspberry 3, Angular for the admin
              website, PHP for the backend and a MySQL database. Due the covid pandemic we were forced to stop
              development focusing on other projects.
            </div>
            <div class="col-md-1">
              <img src="../assets/technologies-icons/php.png" class="project-technologie-icon" alt="...">
              <img src="../assets/technologies-icons/angular.png" class="project-technologie-icon" alt="...">
            </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/ionic.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              o Celucenter App
              made in 2019, it was built in ionic (angular) 3 and later updated to ionic (angular) 5-6. This application
              works for:
              ▪ Create portability’s and recuperations to send it to https://mr.celucenter.com/ for their
              administration.
              ▪ Make phone refills.
              ▪ Check history of things done.
              https://play.google.com/store/apps/details?id=com.celucenter.bcelucenter.atencionaclientescelucenter
            </div>
            <div class="col-md-1">
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/ionic.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              o Celucenter Vendedores App
              made in 2019, build in ionic too like Celucenter App, what It does:
              ▪ Make assignation of chips for their selling.
              ▪ Massive activation and refills of chips.
              ▪ Make and manage sub users (child’s).
              ▪ Check history of things done.
              https://play.google.com/store/apps/details?id=com.celucenter.bcelucenter.celucentervendedores
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/ionic.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              o Megactiva
              Made in 2020, build in ionic, and made for mixed purposes based in Celucenter App and Celucenter
              Vendedores App.
              https://play.google.com/store/apps/details?id=com.megactiva.megactiva.app
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/ionic.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              o Nexocell
              Made in 2020, build in ionic, and made for mixed purposes based in Megactiva.
              https://play.google.com/store/apps/details?id=com.nexocell.nexocell.app
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <br>
          <br>
          <div class="row">
            <div class="col-md-12">
              o Other things done:
            </div>
          </div>

          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/php.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              ▪ Cronjobs.
            </div>
            <div class="col-md-1">
              <img src="../assets/technologies-icons/nodejs.png" class="project-technologie-icon" alt="...">
            </div>
          </div>
          <div class="row">

            <div class="col-md-1">
              <img src="../assets/technologies-icons/python.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              ▪ AWS Optimization of lambdas and admin of EC2 and S3.
            </div>
            <div class="col-md-1">
              <img src="../assets/technologies-icons/nodejs.png" class="project-technologie-icon" alt="...">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
              ▪ SSH line commands to configure websites.
            </div>
            <div class="col-md-1">

            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/php.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              ▪ Algorithm for bank (Bancomer and Banco Azteca) reference generator.
            </div>
            <div class="col-md-1">
              <img src="../assets/technologies-icons/nodejs.png" class="project-technologie-icon" alt="...">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <img src="../assets/technologies-icons/nodejs.png" class="project-technologie-icon" alt="...">
            </div>
            <div class="col-md-10">
              ▪ Node.js webservices whit express to synchronize bank movements (development deprecated).
            </div>
            <div class="col-md-1">
              <img src="../assets/technologies-icons/python.png" class="project-technologie-icon" alt="...">
            </div>
          </div>







        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

  </div>

  <br>


</div>
