<div class="container-fluid">
  <div class="row header-presentation">
    <div class="col-sm-8">
      <h1>Hello World!</h1>
      <div class="big-name">Anthony Gabriel Torres</div>
      <p class="nickname"><b>Nickname:</b> Tony</p>
      <div class="big-name2">Full Stack Software Developer</div>
      <h2 class="typewriter">{{workExperienceTime.years}} years, {{workExperienceTime.months}} months, and
        {{workExperienceTime.days}} days of Experience</h2>
      <br>
      <p class="glow-on-hover">
        <b>Computer Scientist</b> since 2018, passionate about problem-solving and creating innovative algorithms. <br>
        Excited to contribute to dynamic and effective software solutions.
      </p>
    </div>

    <div class="col-sm-4 father-div-center text-center">

      <section class="self-picture-wrapper">
        <div class="self-picture one1"></div>
        <div class="self-picture one2"></div>
        <div class="self-picture one3"></div>
        <div class="self-picture one4"></div>
        <div class="self-picture one5"></div>
        <div class="self-picture one6"></div>
        <div class="self-picture one7"></div>
        <div class="self-picture one8"></div>
        <div class="self-picture one9"></div>
        <div class="self-picture one10"></div>
        <div class="self-picture one11"></div>
        <div class="self-picture one12"></div>
        <div class="self-picture one13"></div>
        <div class="self-picture one14"></div>
        <div class="self-picture one15"></div>
        <div class="self-picture one16"></div>
        <div class="self-picture one17"></div>
        <div class="self-picture one18"></div>
        <div class="self-picture one19"></div>
        <div class="self-picture one20"></div>
        <div class="self-picture one21"></div>
        <div class="self-picture one22"></div>
        <div class="self-picture one23"></div>
        <div class="self-picture one24"></div>
        <div class="self-picture one25"></div>
        <div class="self-picture one26"></div>
        <div class="self-picture one27"></div>
        <div class="self-picture one28"></div>
        <div class="self-picture one29"></div>
        <div class="self-picture one30"></div>
      </section>

    </div>
  </div>

  <app-known-technologies></app-known-technologies>
  <app-work-experience-home></app-work-experience-home>
  <app-education-home></app-education-home>
  <app-skills></app-skills>
  <app-more-about></app-more-about>

</div>